/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Organizar elementos de arriba hacia abajo */
    justify-content: center; /* Centrar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
    height: 100vh; /* Usar toda la altura de la ventana */
    text-align: center; /* Alinear texto al centro */
}

h1 {
    text-align: center;
    color: #2b35c0;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 800px;
    margin: 20px auto;
}

ul li {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

ul li:hover {
    background-color: #b4fff3;

}


ul li:nth-child(even) {
    background-color: #ecf0f1;
}

ul li:nth-child(even):hover {
    background-color: #b4fff3;
}


ul li a#btn_editar {
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}


ul li a#btn_borrar {
    color: #ffffff;
    background-color: #c0392b;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input, form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.container {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {

    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

form button {
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

p {
    font-size: 16px;
    color: #555;
}

form button {
    background-color: #a5e73c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #c0392b;
}


img {

    border-radius: 10px;
    margin-bottom: 20px;
}